body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.loginContent {
    min-height: 100%;
    overflow-y: auto;
    background-image: url(/images/bg.jpg);
    padding-top: 120px;
}

.registerContent {
    min-height: 100%;
    overflow-y: auto;
    background-image: url(/images/bg.jpg);
    padding-top: 50px;
}

.my-white {
    background-color: white;
    border-radius: 0px;
}

.timeNotification {
    color: #b2b2b2;
    font-weight: bold;
}

.st-container {
    overflow-y: auto
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

    .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

.header-search {
    width: 300px !important;
}

.my-input-white {
    background-color: white !important;
    border-radius:0px
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat {
    list-style: none;
    background: none;
    margin: 0;
}

    .chat li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
    }

    .chat .avatar {
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        z-index: 2;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        background-color: rgba(255,255,255,0.9);
    }

        .chat .avatar img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            background-color: rgba(255,255,255,0.9);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

    .chat .day {
        position: relative;
        display: block;
        text-align: center;
        color: #c0c0c0;
        height: 20px;
        text-shadow: 7px 0px 0px #e5e5e5, 6px 0px 0px #e5e5e5, 5px 0px 0px #e5e5e5, 4px 0px 0px #e5e5e5, 3px 0px 0px #e5e5e5, 2px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 1px 0px 0px #e5e5e5, 0px 0px 0px #e5e5e5, -1px 0px 0px #e5e5e5, -2px 0px 0px #e5e5e5, -3px 0px 0px #e5e5e5, -4px 0px 0px #e5e5e5, -5px 0px 0px #e5e5e5, -6px 0px 0px #e5e5e5, -7px 0px 0px #e5e5e5;
        box-shadow: inset 20px 0px 0px #e5e5e5, inset -20px 0px 0px #e5e5e5, inset 0px -2px 0px #d7d7d7;
        line-height: 38px;
        margin-top: 5px;
        margin-bottom: 20px;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}

.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

    .self .msg {
        order: 1;
        border-bottom-right-radius: 0px;
        box-shadow: 1px 2px 0px #D4D4D4;
    }

    .self .avatar {
        order: 2;
    }

        .self .avatar:after {
            content: "";
            position: relative;
            display: inline-block;
            bottom: 19px;
            right: 0px;
            width: 0px;
            height: 0px;
            border: 5px solid #fff;
            border-right-color: transparent;
            border-top-color: transparent;
            box-shadow: 0px 2px 0px #D4D4D4;
        }

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

    .msg p {
        margin: 0 0 0.2rem 0;
        color: #777;
    }

    .msg img {
        position: relative;
        display: block;
        width: 450px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #eee;
        transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .msg time {
        font-size: 0.7rem;
        color: #ccc;
        margin-top: 3px;
        float: right;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

        .msg time:before {
            content: "\f017";
            color: #ddd;
            font-family: FontAwesome;
            display: inline-block;
            margin-right: 4px;
        }

.myChatContent {
    overflow-x: hidden;
    background-color: #ecf0f1;
    width: 100%;
}

.myHeadChatContent {
    border-bottom: 1px solid lightgrey;
    padding-right: 0px
}

.txtMessage {
    padding: 0px;
    height: 100%;
    width: 100%;
    border: 0px;
    background-color: white !important;
}

.my-input {
    color: #888;
}

.my-register {
    margin: 1em;
}

    .my-register > h1 {
        font-weight: bold;
    }

.notifiIcon {
    font-size: 7px;
    color: red !important
}

.mywrapper {
    max-height: 400px !important;
}

.myChatContent {
    background-color: #eaf4f7;
}

.chat {
    background-color: #eaf4f7;
}

.btn-no-boder {
    border-radius: 0px !important;
}

.loader {
    padding-left: 40%;
    padding-top: 12%;
}

.input-non-border {
    width: 100%;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    font-size: 15px;
    padding: 3px;
    font-weight:bold
}

    .input-non-border::placeholder {
        color: lightgrey;
        font-weight:normal
    }

.lbl-err {
    font-weight: normal !important;
    font-size:12px !important;
}

.friendItem {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px
}